
/*prima task*/
@media screen and (min-width:768px){
    #topbar {
        justify-content: flex-start;
        
    }


}

/*terza task*/
@media screen and (min-width:768px) {
    .recipe-name::after {
        content:"(Dolce Tradizionale)";

    }

}


/*quarta task*/
@media screen and (min-width:768px) {
    #logo {
        font-size: 80px;
    }
}

/*quinta task*/
@media screen and (min-width:768px) {
    .recipe-info {
        flex-direction: row;
        flex-wrap: wrap;
        gap:80px;
        display: flex;
        justify-content: center;
    }
}

/*sesta task*/
@media screen and (min-width:768px) {
    .btn {
        width: 150px;
    }
}

/*settima task*/
@media screen and (min-width:768px) {
    .ads {
        display: block;
    }
}

@media screen and (min-width:768px) {
    .clearfix {
        display: inline-block;
    }
}

/*grandezza tablet*/
/*prima task*/
@media screen and (min-width:992px) {
    .recipe-name {
        font-size:40px;
    }
}

@media screen and (min-width:992px) {
    .recipe-info {
        flex-direction: column;
        
        flex-wrap: wrap;
        gap:80px;
        display: flex;
        justify-content: center;
    }

}