
/*prima task*/
@media screen and (min-width:768px){
    #topbar {
        justify-content: flex-start;
        
    }


}

/*terza task*/
@media screen and (min-width:768px) {
    .recipe-name::after {
        content:"(Dolce Tradizionale)";

    }
}

/*seconda task*/
@media screen and (min-width:768px) {
    main {
        padding: 40px;
    }
}