
/*prima task*/
@media screen and (min-width:768px){
    #topbar {
        justify-content: flex-start;
        
    }


}

/*terza task*/
@media screen and (min-width:768px) {
    .recipe-name::after {
        content:"(Dolce Tradizionale)";

    }

}


/*quarta task*/
@media screen and (min-width:768px) {
    #logo {
        font-size: 80px;
    }
}

/*quinta task*/
@media screen and (min-width:768px) {
    .recipe-info {
        flex-direction: row;
        flex-wrap: wrap;
        gap:80px;
        display: flex;
        justify-content: center;
    }
}
